<div class="d-flex justify-content-center">

  <ng-template #content let-modal>
    <div class="modal-header" >
      <h4 class="modal-title">Añadir Usuario</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="addUserForm" (ngSubmit)="onSubmit()">
        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-heading"></i></span>
          </div>
          <input class="form-control" type="text" formControlName="nombreCompleto" placeholder="titulo">
        </div>

        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-quote-right"></i></span>
          </div>
          <input class="form-control" type="text" formControlName="nombreCompleto" placeholder="descripcion">
        </div>

        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-hourglass-start"></i></span>
          </div>

          <input class="form-control" type="datetime-local" id="timepicker" formControlName="horarioEntrada" placeholder="Fecha Inicio">

        </div>

        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-hourglass-end"></i></span>
          </div>

          <input class="form-control" id="timepickerSalida" type="datetime-local" formControlName="horarioSalida" placeholder="Fecha Fin">

        </div>

        <!--https://stackblitz.com/edit/angular-hzh42b-->

        <div class="form-group row justify-content-center">
          <div class="uploadImages col-sm-9 col-md-7 col-lg-7">
            <input type="file" name="file" id="file" class="inputfile" accept="image/png, image/jpeg" multiple/>
            <label for="file">
              <img src="../../../../assets/images/upload.png" alt="icon" class="upload animate__animated animate__flip">
              <p class="imgDescription">Documentos de la Reunión</p>
            </label>
            <div class="invalid-feedback" style="text-align: left;">
              Extension de imagen no valida
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">Save</button>
    </div>
  </ng-template>

  <button class="btn btn-lg btn-success"  id="botonUsuario" (click)="open(content)">Nueva Reunion</button>

  <hr>

  </div>
