<p *ngFor="let alert of this.ALERTSAVI">
  <ngb-alert [type]="alert.type" (closed)="close(alert)">{{ alert.message }}</ngb-alert>
</p>

<div class="d-flex justify-content-center">
  <ng-template #content let-modal>
    <p *ngFor="let alert of this.ALERTSOBL">
      <ngb-alert [type]="alert.type" (closed)="close(alert)">{{ alert.message }}</ngb-alert>
    </p>
    <div class="modal-header" >
      <h4 class="modal-title">Nueva Reunión</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="addReunionForm" (ngSubmit)="onSubmit()">
        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-heading"></i></span>
          </div>
          <input class="form-control" type="text" formControlName="titulo" placeholder="titulo">
        </div>

        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-quote-right"></i></span>
          </div>
          <input class="form-control" type="text" formControlName="descripcion" placeholder="descripcion">
        </div>

        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-hourglass-start"></i></span>
          </div>

          <input class="form-control" type="datetime-local" id="timepicker" formControlName="fechaInicio" placeholder="Fecha Inicio">

        </div>

        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-hourglass-end"></i></span>
          </div>

          <input class="form-control" id="timepickerSalida" type="datetime-local" formControlName="fechaFin" placeholder="Fecha Fin">

        </div>

        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-users"></i></span>
          </div>
          <input type="text" list="FavoriteColor" id="course" name="course" class="form-control" formControlName="integrante" placeholder="integrantes">
          <datalist id="FavoriteColor">
            <option *ngFor="let empleado of this.empleadosTotales" value="{{empleado.id}}" >{{empleado.nombre}}</option>
          </datalist>
            <div class="input-group-append">
              <button class="btn  btn-light btn-outline-secondary" type="button"(click)="addCourse()">Añadir</button>
            </div>
        </div>
        <ul>
          <li *ngFor="let empleado of this.nombresEmpleado">
            <i class="fas fa-hands-helping"></i>
              {{empleado}}
          </li>
        </ul>
        <!--https://stackblitz.com/edit/angular-hzh42b-->



        <div class="form-group row justify-content-center">
          <div class="uploadImages col-sm-9 col-md-7 col-lg-7">
            <input (change)="handleUpload($event.target.files)" type="file" name="file" id="file" class="inputfile" multiple/>
            <label for="file">
              <img src="../../../../assets/images/upload.png"  alt="icon" class="upload animate__animated animate__flip">
              <p class="imgDescription">Documentos de la Reunión</p>
            </label>
            <div class="invalid-feedback" style="text-align: left;">
              Extension de imagen no valida
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="guardar(modal);">Save</button>
    </div>
  </ng-template>

  <button class="btn btn-lg btn-success"  id="botonUsuario" (click)="open(content)">Nueva Reunion</button>

  <hr>

  </div>
