<app-sidebar></app-sidebar>
<div class="d-flex justify-content-center h-100" id="titulo">
  <h1>Gráfica de Barras</h1>
  <hr>
</div>
<div  class="row">
    <div id="grafica" class="col">

        <div style="display: block">
            <canvas baseChart
                    [datasets]="barChartData"
                    [labels]="barChartLabels"
                    [options]="barChartOptions"
                    [legend]="barChartLegend"
                    [chartType]="barChartType">
            </canvas>
        </div>

        <button (click)="randomize()"
                class="btn btn-primary float-end">
            Actualizar
        </button>

    </div>
  <div id="grafica" class="col">

      <div style="display: block">
          <canvas baseChart
                  [datasets]="barChartData"
                  [labels]="barChartLabels"
                  [options]="barChartOptions"
                  [legend]="barChartLegend"
                  [chartType]="barChartType">
          </canvas>
      </div>

      <button (click)="randomize()"
              class="btn btn-primary float-end">
          Actualizar
      </button>

  </div>
</div>

