#titulo {
  margin-top: 2%;
}

#configuracion {
  margin-top: 2%;
  margin-left: 30%;
}

#guardar {
  margin-top: 15%;
  margin-left: 48%;
}

.aviso {
  background-color: #cccc00;
}

.obligatorio {
  background-color: #f44336;
}

.noconsiderar {
  background-color: #C4C4C4;
}
