<app-sidebar></app-sidebar>


<div class="d-flex justify-content-center h-100" id="titulo">
  <h3>Panel De Configuración</h3>
</div>


   <div *ngFor="let conf of configuraciones; index as i">
    <form [formGroup]="formArray.controls[i]" id="configuracion">
      <div class="form-group row">
      <label for="inputPassword" class="col-sm-3 col-form-label">{{conf.requisito}}:</label>
      <div class="col-sm-2">
        <input type="number" formControlName="parametro" class="form-control" id="inputPassword" placeholder="{{conf.parametro}}">
      </div>
      <div class="col-sm-2">
        <select class="form-control" formControlName="obligatoriedad">
          <option value="" hidden selected>{{conf.obligatoriedad}}</option>
          <option class="aviso" value="Aviso">Aviso</option>
          <option class="obligatorio" value="Obligatorio">Obligatorio</option>
          <option class="noconsiderar" value="No considerar">No considerar</option>
        </select>
      </div>
    </div>
    </form>
  </div>
  <div class="d-flex justify-content-center h-100" id="titulo">
    <button class="btn btn-lg btn-primary"  id="botonUsuario" (click)="onClick()">Guardar</button>
  </div>
