#titulo {
  margin-top: 2%;
}

#configuracion {
  margin-top: 2%;
  margin-left: 30%;
}

#guardar {
  margin-top: 15%;
  margin-left: 48%;
}

.aviso {
  background-color: hsl(60, 100%, 76%);
}

.obligatorio {
  background-color: #ff837a;
}

.noconsiderar {
  background-color: #C4C4C4;
}
