<app-sidebar></app-sidebar>

<div class="main">
  <div class="d-flex justify-content-center">
    <form [formGroup]="searchForm">
      <div class="form-group">
        <input id="busquedaInput" formControlName="filtradoPorNombre" placeholder="Buscar Empleado..."
          (keyup)="onChange()">
      </div>
    </form>
  </div>

  <ngbd-modal-basic></ngbd-modal-basic>

  <div class="d-flex justify-content-center">
    <table id="tablaUsuarios" class="table table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Rol</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let empleado of this.empleadosFiltrados; let i = index">
          <th scope="row">{{i + 1}}</th>
          <td>{{empleado.username}}</td>
          <td>{{empleado.rol}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
