.tableUsers {
  margin-top: 5%;
}

#tablaUsuarios {
  margin-top: 8%;
}

#disponible {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  align-items: center;
  background-color: #4CAF50;
}

#noDisponible {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  align-items: center;
  background-color: #f44336;
}

.botones {
  display: flex;
  align-items: center;
  justify-content: center;
}

.boton {
  display: block;
  margin: auto;
}

.fa-check-circle {
  color: #4CAF50;
}

.fa-times-circle {
  color: #f44336;
}

td {
  vertical-align: middle;
}

i {
  margin-top: 8%;
}

#information {
  text-align: center;
}
