<app-sidebar></app-sidebar>


<div class="main">

  <div class="tableUsers d-flex justify-content-center">

    <table *ngIf="this.empleadosTotales.length > 0" datatable="ng" class="table table-striped row-border hover" id="tablaUsuarios">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Rol</th>
          <th scope="col">Email</th>
          <th scope="col">Equipo</th>
          <th scope="col">Jornada</th>
          <th scope="col">Disponibilidad</th>
          <th *ngIf="rol === 'administrador'" scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr  class="text-center-row" *ngFor="let empleado of this.empleadosTotales;">
          <td>{{empleado.nombre}}</td>
          <td>{{empleado.rol}}</td>
          <td>{{empleado.email}}</td>
          <td>{{empleado.equipo}}</td>
          <td>{{empleado.horaEntrada + '-' + empleado.horaSalida}}</td>
          <td *ngIf="empleado.disponibilidad==='ocupado';else elseBlock" class="botones"><i class="fas fa-times-circle"></i></td>
          <ng-template #elseBlock><td class="botones"><i class="fas fa-check-circle"></i></td></ng-template>
          <td *ngIf="rol === 'administrador'"><button class="boton" (click)="borrarEmpleado(empleado.id)" type="button" class="boton btn btn-outline-danger"><i class="fas fa-trash"></i></button></td>
        </tr>
      </tbody>
    </table>
  </div>

  <ngbd-modal-basic></ngbd-modal-basic>


</div>
