#busquedaInput {
  width: 100%;
  margin-top: 15%;
  border: 1px solid black;
  border-radius: 7px;
  opacity:1;
}

#busquedaInput:hover{
    opacity:0.5;

}

.crearUsuario {
  transition-duration: 0.4s;
  background-color: #4CAF50;
  border-color: #4CAF50;
  border-radius: 7px;
  border-style: solid;
}

.crearUsuario:hover {
  box-shadow: 0 10px 14px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


#tablaUsuarios {
  width: 50%;
  margin-top: 5%;
}



