<app-sidebar></app-sidebar>

<div class="main">

  <div class="tableUsers d-flex justify-content-center">

    <table datatable class="table table-striped row-border hover" id="tablaUsuarios">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Rol</th>
          <th scope="col">Email</th>
          <th scope="col">Equipo</th>
          <th scope="col">Jornada</th>
          <th scope="col">Disponibilidad</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let empleado of this.empleadosTotales;">
          <td>{{empleado.nombre}}</td>
          <td>{{empleado.rol}}</td>
          <td>{{empleado.email}}</td>
          <td>{{empleado.equipo}}</td>
          <td>{{empleado.horaEntrada + '-' + empleado.horaSalida}}</td>
          <td class="botones"><button id="noDisponible" type="button"></button></td>
        </tr>
      </tbody>
    </table>
  </div>

  <ngbd-modal-basic></ngbd-modal-basic>


</div>
