<app-sidebar></app-sidebar>

<!-- A sidebar -->
<ng-sidebar-container style="height: 100vh;  position: absolute;">

  <ng-sidebar [(opened)]="opened" position="right" id="sidebar">
    <ul id="nav" class="list-group">
      <li class="list-group-item list-group-item-info" (click)="agregarMarcador()">
        + Agregar
      </li>

      <div *ngFor="let marcador of marcadores; index as i">
        <li class="list-group-item" (click)="irMarcador( marcador.marker ); submenu( i );" (dblclick)="borrarMarcador( i )"
          [ngStyle]="{
              'background-color': marcador.color
          }">
          Punto de Coworking {{ i + 1 }}
        </li>
        <div *ngIf="this.formArray.controls[i].controls?.abierto.value">
          <form [formGroup]="formArray.controls[i]" id="configuracion">
            <div class="form-group">
              <div class="input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-road"></i></span>
                </div>
                <input #direccion class="form-control" type="text" formControlName="direccion" placeholder="direccion" value="{{formArray.controls[i].controls?.direccion.value}}">
                </div>

                <div class="input-group form-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-align-justify"></i></span>
                  </div>
                  <input #descripcion class="form-control" type="text" formControlName="descripcion" placeholder="descripcion" value="{{formArray.controls[i].controls?.descripcion.value}}">
              </div>
          </div>
            <div class="d-flex justify-content-center h-100">
              <button type="button" (click) = "guardarMarcadores(i,direccion,descripcion);" id="botonCoworking" class="btn btn-danger">Actualizar</button>
            </div>
          </form>

        </div>
      </div>
    </ul>
  </ng-sidebar>

  <div *ngIf="!this.opened" id="botonDiv" ng-sidebar-content class="outer">
    <div class="container">
      <div class="center">
        <button (click)="toggleSidebar()" class="btn">
          <svg id="svg" width="180px" height="60px" viewBox="0 0 180 60" class="border">
            <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line" />
            <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />
          </svg>
          <span>Coworkings</span>
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="this.opened" id="botonDivDesplegado" ng-sidebar-content class="outer">
    <div class="container">
      <div class="center">
        <button (click)="toggleSidebar()" class="btnDesplegado">
          <svg id="svgDesplegado" width="180px" height="60px" viewBox="0 0 180 60" class="border">
            <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line" />
            <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />
          </svg>
          <span>Coworkings</span>
        </button>
      </div>
    </div>
  </div>


</ng-sidebar-container>
<div #mapa class="mapa-container"></div>
