.mapa-container {
  height: 100vh;
  width: 100%;
}


.list-group {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 99;
}
li {
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}


