#botonUsuario {
  margin-top: 3%;
}

#timepicker:before {
  content:'Hora Entrada:';
  margin-right:.6em;
  color:#9d9d9d;
  }

  #timepickerSalida:before {
    content:'Hora Fin:';
    margin-right:.6em;
    color:#9d9d9d;
    }
