<div class="container-fluid">
  <div class="row">
    <div class="col-md">
      <div class="d-flex justify-content-center" id="seccionTextoEslogan">
          <h3> Teletrabajo como una<br>Actividad Profesional </h3>
      </div>
    </div>
    <div class="col-md">
      <div class="d-flex justify-content-center" id="seccionImagenEslogan">
        <img class="img-fluid" src="../../../../assets/images/imagenTeletrabajo.png" alt="Teletrabajo" id="imagenTeletrabajo">
      </div>
    </div>
  </div>
</div>
