<div class="container-fluid" id="logInPage">
  <div class="d-flex justify-content-center h-100">



    <div class="card">
      <div class="card-header">
        <h3>Sign In</h3>
      </div>

      <div class="card-body">
        <div *ngIf="showErrorMessage" class="alert alert-danger animate__animated animate__tada" role="alert">
          Usuario o Contraseña Incorrecta
        </div>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
            <input class="form-control" type="text" formControlName="user" placeholder="user">
            </div>

            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
              </div>
              <input class="form-control" type="password" formControlName="password" placeholder="password">
          </div>

          <div class="row align-items-center remember">
						<input type="checkbox">Remember Me
					</div>

          <div class="form-group">
           <button class="btn float-right login_btn" type="submit" [disabled]="!loginForm.valid">Submit</button>
          </div>

        </form>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-center links">
          ¿Quieres registrar tu empresa? <a routerLink="register"> Registrate</a>
        </div>
        <div class="d-flex justify-content-center">
          <a routerLink="recuperarPassword">¿Olvidaste la password?</a>
        </div>
      </div>
    </div>
  </div>
</div>

<app-quienes-somos></app-quienes-somos>
<app-footer></app-footer>
