<div class="row text-center">
  <div class="col-md-4">
    <div class="btn-group">
      <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()">
        Anterior
      </div>
      <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
        Hoy
      </div>
      <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()">
        Siguiente
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
  </div>
  <div class="col-md-4">
    <div class="btn-group">
      <div class="btn btn-primary" (click)="setView(CalendarView.Month)" [class.active]="view === CalendarView.Month">
        Mes
      </div>
      <div class="btn btn-primary" (click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week">
        Semanal
      </div>
      <div class="btn btn-primary" (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day">
        Diario
      </div>
    </div>
  </div>
</div>
<br />
<div [ngSwitch]="view" id="view">
  <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
    [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
    (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-month-view>
  <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-week-view>
  <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-day-view>
</div>



<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Menú de Consulta</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <p id="reunionTitulo">Reunión <span *ngIf="modalData?.action === 'Deleted'">Borrada</span> <span
          *ngIf="modalData?.action === 'Clicked'">Consultada</span>:</p>
      <pre>
            <div class="container">
              <div class="row">
              <div class="card card-1 col">
                <div class="card__icon"><i class="fas fa-heading"></i></div>
                <h2 class="card__title">{{modalData?.event.title}}</h2>
              </div>
              <div class="card card-2 col">
                <div class="card__icon"><i class="fas fa-quote-right"></i></div>
                <h2 class="card__title">{{modalData?.event.description}}</h2>
              </div>
            </div>
            <div class="row">
              <div class="card card-3 col">
                <div class="card__icon"><i class="fas fa-hourglass-start"></i></div>
                <h2 class="card__title">Inicio: {{modalData?.event.start | date:'medium' }}</h2>
              </div>
              <div class="card card-4 col">
                <div class="card__icon"><i class="fas fa-hourglass-end"></i></div>
                <h2 class="card__title">Fin: {{modalData?.event.end | date:'medium' }}</h2>
              </div>
              </div>
              <div class="row">

              <div *ngIf="modalData?.event.idCoworkingFK" class="card card-5 col">
                <div class="card__icon"><i class="fas fa-road"></i></div>
                <h2 class="card__title">Punto de Coworking {{modalData?.event.idCoworkingFK?.idCoworking}}: {{modalData?.event.idCoworkingFK?.direccion}}</h2>
              </div>
              </div>
            </div>
          <div *ngIf="modalData?.event.documento?.length > 2" class="d-flex justify-content-center h-100">
            <button (click)="downloadPdf(modalData?.event.files)" class="btn btn-info" style="width:50%"><i class="fa fa-download"></i> Descargar documentos de la Reunión</button>
        </div>
      </pre>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="close()">
      OK
    </button>
  </div>
</ng-template>
