
#view {
  font-size: 20px;
}

.uploadImages {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
}


.inputfile + label {
  background-color: white;
  display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover .imgDescription{
  visibility: visible;
  opacity: 1;
}

.imgDescription {
  position: relative;
  color: black;
  visibility: hidden;
  margin-bottom: 0%;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
}

.inputfile + label {
	cursor: pointer;
}

.inputfile:focus + label {
	outline: -webkit-focus-ring-color auto 5px;
}


.inputfile + label * {
	pointer-events: none;
}

.upload {
  width: 20%;
  display: block;
  margin: auto;
}

.imgDescription {
  display: flex;
  align-items: center;
  justify-content: center;
}

#reunionTitulo {
  color: #7c795d;
  font-family: 'Trocchi', serif;
  font-size: 23px;
  font-weight: normal;
  line-height: 48px;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.heading-container {
  text-align: center;
}

.heading {
  font-weight: 600;
}

.credit {
  margin: 10px 0px;
  color: #888888;
  font-size: 5%;
  transition: all 0.5s;
}

.credit a {
  color: inherit;
}

a,
.card__icon {
  position: relative;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
}

a::after {
  top: 25px;
  left: 0;
  content: "";
  width: 0%;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.6);
  transition: all 0.5s;
}

a:hover::after {
  width: 100%;
}


.card {
  box-sizing: border-box;
}

.container {
  margin-top: 0;
}

pre {
  margin-top: 0;
}


.card {
  margin: 1%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.5s;
}

.card:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}

.card__icon {
  font-size: 30px;
}

.card__title {
  font-weight: 3%;
  font-size: 100%;
  color: #ffffff;
}


.card-1 {
  background: radial-gradient(#1fe4f5, #3fbafe);
}

.card-2 {
  background: radial-gradient(#1fe4f5, #3fbafe);
}

.card-3 {
  background: radial-gradient(#60efbc, #58d5c9);
}

.card-4 {
  background: radial-gradient(#60efbc, #58d5c9);
}

.card-5 {
  background: radial-gradient(#f588d8, #c0a3e5);
}

@media (max-width: 1600px) {
  .container {
    justify-content: center;
  }
}
