<div class="sidenav">
  <a [routerLink]="['/listadoReuniones/', id]"><i class="fa fa-fw fa-calendar-alt animate__animated animate__fadeIn"></i></a>
  <a [routerLink]="['/coworkingMaps/', id]"><i class="fa fa-fw fa-building animate__animated animate__fadeIn"></i></a>
  <a [routerLink]="['/busquedaUsuarios/', id]"><i class="fa fa-fw fa-users animate__animated animate__fadeIn"></i></a>
  <a *ngIf="rol === 'administrador'" [routerLink]="['/estadisticas/', id]"><i class="fa fa-fw fa-chart-pie animate__animated animate__fadeIn"></i></a>
  <a *ngIf="rol === 'administrador'" [routerLink]="['/panelConfiguracion/', id]"><i class="fa fa-fw fa-wrench animate__animated animate__fadeIn"></i></a>
</div>
